<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Airplanes</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!--Fontawesome-->
        <script
            src="https://kit.fontawesome.com/144f4e017a.js"
            crossorigin="anonymous"
        ></script>
        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <!--Datatables-->
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.css"
        />
        <script
            type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.js"
        ></script>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">
            <div class="container">
                <div th:insert="fragments/navbar.html"></div>
            </div>
            <div th:insert="fragments/modal.html"></div>
            <div class="text-center mt-5 pt-5">
                <i class="fas fa-plane fa-10x"></i>
            </div>
        <div class="float-right">
            <a href="/airplane_create">
                <i class="fas fa-plus-circle fa-2x text-danger"></i>
            </a>
        </div>
            <div class="w-75 mx-auto">
                <table class="mt-5" id="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Plate</th>
                            <th scope="col">Aircraft Type</th>
                            <th scope="col">Current Airport</th>
                            <th scope="col">Destination Airport</th>
                            <th scope="col">Current Fuel</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"
        ></script>
        <script th:src="@{/js/airplane.js}"></script>
    </body>
</html>
